span{
  display:block;font-size:.8em;
  margin:0px 0 10px;
  padding:5px 0 5px 11px;
  width:200px
}
.confirmacion{
  background:#C6FFD5;
  border:1px solid green;
}
.negacion{
  background:#ffcccc;
  border:1px solid red
}
