<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../static/css/style.css">
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js" charset="utf-8"></script>

    <title>Administrador de productos</title>
  </head>
  <body>
    <div th:replace="/fragments/head"></div>

    <div class="container">
      <div th:if=${errors} class="alert alert-danger mt-3" role="alert">
        <div class="container-fluid" th:each="error:${errors}">
            <p class="text-center mb-0" th:text="${error}"></p>
        </div>
      </div>
      <form method="POST" th:action="@{/addProduct}" th:object="${product}">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" th:field="*{name}"/>
        </div>
        <div class="form-group">
          <label for="prize">Precio</label>
          <input type="number" step="any" min="0" class="form-control" id="prize" th:field="*{prize}"/>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </body>
</html>
